<div class="form">
	<%= form_for @insurance, html: { multipart: true } do |f| %>
		<% if @insurance.errors.any? %>
			<h2> <%= pluralize(@insurance.errors.count, "error") %> Prevented this insurance from saving: </h2>
			<ul>
				<% @insurance.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		<%= f.label :image %>
		<%= f.file_field :image %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label 'subheader' %>
		<%= f.text_field :link %>
		<%= f.label :description %>
		<%= f.text_area :description %>
		<%= f.submit 'Save', class: 'button'  %>
	<% end %>
</div>