<%= render "hero_insurance" %>
<article class="content_well">
	<section class="main">
		<ul class="insurance_cards">
			<% @insurances.each do |insurance| %>
				<li class="insurance_card">
					<div class="cropped-image"><%= link_to insurance do%><%= image_tag insurance.image.url(:large) %><%end%></div>
					<div class="skinny_wrapper">
						<h2 class="insurance_card--title"><%= link_to insurance do%><%= insurance.title %><%end%></h2>
						<p>
						<%= link_to insurance do%><%= truncate(insurance.description, :length => 145) %><%end%></p>
					<div>
						<%= link_to "Read More", insurance, :class=>"letter-spacing button button-hero" %>
						<i class="icon-right-open-mini button-icon"></i>
					</div>
				</div>
				</li>
			<% end %>
		</ul>
	</section>
	<%= render 'sidebar' %>
</article>
<%= render 'contact_footer' %>