<%= render "hero_insurance" %>
<article class="content_well">
	<section class="main">
		<ul class="insurance_cards">
			<% @insurances.each do |insurance| %>
				<li class="insurance_card">
					<div class="cropped-image"><%= image_tag insurance.image.url(:medium) %></div>
					<div class="skinny_wrapper">
						<h2 class="insurance_card--title"><%= insurance.title %></h2>
						<%= truncate(insurance.description, :length => 145) %>
					<div>
						<%= link_to "Read More", insurance %>
						<i class="icon-right-open-mini button-icon"></i>
					</div>
				</div>
				</li>
			<% end %>
		</ul>
	</section>
	<%= render 'sidebar' %>
</article>
<%= render 'contact_footer' %>
<%= render 'cta' %>