<div class="grid-items-lines wrapper mb25">
  <% @insurances.each_with_index do |insurance, index| %>
    <%= link_to insurance, :class=>"grid-item", :id =>"welcome-grid-item-#{index}" do %>  
      <% if index == 1 %>
        <%= image_tag insurance.image.url(:large), :class=>"img-swap" %>
        <h1><%= insurance.title %></h1>
        <p><%= insurance.link %></p>
      <% else %>
        <h1><%= insurance.title %></h1>
        <p><%= insurance.link %></p>
      <% end %>
    <% end %>
  <% end %>  
  <%= link_to insurances_path, :class=>"grid-item grid-item-big", :id => "welcome-grid-item-big" do %>
    <h1>Find the Protection you need!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.</p>
    <span class="button button-white-btn">See All Choices</span>
    <i class="icon-right-open-mini button-icon button-icon-gray"></i>
  <% end %>
<!--   <div class="right-cover"></div> -->
<!--   <div class="bottom-cover"></div> -->
</div>


