<%= render "hero" %>
<%= render "grid_objects" %>
<section class="wrapper">
	<ul id="insurance-logo-group">
		<li><a href=""><%= image_tag "insurance_logos/logo_01.png" %></a></li>
		<li><a href=""><%= image_tag "insurance_logos/logo_02.png" %></a></li>
		<li><a href=""><%= image_tag "insurance_logos/logo_03.png" %></a></li>
		<li><a href=""><%= image_tag "insurance_logos/logo_04.png" %></a></li>
		<li><a href=""><%= image_tag "insurance_logos/logo_05.png" %></a></li>
	</ul>
</section>
<%= render "quotes" %>
