<%= render "hero" %>
<div class="wrapper">
	<section class="intro">
		<aside>
			<h2>
				Insurance you can trust. Savings you will feel.
			</h2>
		</aside>
		<article>
			<p>
				Balboa Pacific offers a broad range of personal and commercial insurance products and options.  We combine decades of experience and stay up to date on the current laws and regulations to deliver the best and most affordable insurance coverage for individuals, families, and businesses of any size.
			</p>
			<p>
				We got you covered, whether you need protection for your company, your employees, your home and valuables, the people you love or all of the above. If you think you are paying too high, you probably are. Our customers save time and money and get peace of mind that they are well covered.
			</p>
			<p>
				Think you might be paying too much? <%= link_to "Contact Us", new_contact_path, :class => current_class?(new_contact_path) %> to find out.
			</p>
		</article>
	</section>
	<section class="logo-section">
		<h3 class="centered-headline--gray">We connect you to the best service for your needs– Nothing more, nothing less.</h3>
		<ul id="insurance-logo-group">
			<li class=""><a href=""><%= image_tag "insurance_logos/logo_01.png" %></a></li>
			<li class=""><a href=""><%= image_tag "insurance_logos/logo_02.png" %></a></li>
			<li class=""><a href=""><%= image_tag "insurance_logos/logo_03.png" %></a></li>
			<li class=""><a href=""><%= image_tag "insurance_logos/logo_04.png" %></a></li>
			<li class=""><a href=""><%= image_tag "insurance_logos/logo_05.png" %></a></li>
		</ul>
	</section>
</div>