<div class="form">
	<%= form_for @contact, html: { multipart: true } do |f| %>
		<% if @contact.errors.any? %>
			<h2> <%= pluralize(@contact.errors.count, "error") %> Prevented this Message from Sending: </h2>
			<ul>
				<% @contact.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		<%= f.text_field :name, required: true, :placeholder => "Name" %>
		<%= f.email_field :email, required: true, :placeholder => "Email" %>
		<%= f.text_area :message, required: true, :placeholder => "Message" %>
		<div class="hidden">
			<%= f.label :nickname %>
			<%= f.text_field :nickname, hint: 'leave this field blank' %>
		</div>
		<%= f.submit 'Send Message', class: 'button' %>

	<% end %>

		<div id="social_footer">
	<!-- Tweeter -->
	<a class="icon-twitter-circled">
		Twitter
	</a>

	<!-- Fassbook -->

	<a class="icon-facebook-circled">
		Facebook
	</a>

	<!-- G Ploos -->

	<a class="icon-gplus-circled">
		Google +
	</a>
	</div>
</div>