<div class="form">
	<%= form_for :customerService, url: customer_service_index_path do |f| %>
		<%= f.label :logo %>
		<%= f.file_field :logo %>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.label :phone %>
		<%= f.telephone_field :phone, id: 'phone', "data-inputmask": "'mask': '999-999-9999'"  %>
		<%= f.label :site %>
		<p>Do not include www: just sitename.com.</p>
		<%= f.text_field :site %>
		<%= f.submit 'Save', class: "button" %>
	<% end %>
</div>