<%= render "hero_cs" %>
<article class="wrapper">
	<section>
		<table class="tables content_well">
		  <thead>
		    <tr>
		      <th>Logo</th>
		      <th>Company Name</th>
		      <th>Company Phone</th>
		      <th>Company Website</th>
					<% if user_signed_in? %>
						<th>Tools</th>
					<% end %>
		    </tr>
		  </thead>
		  <tbody>
		    <% @customerServices.each do |customerService| %>
			    <tr>
			      <td><%= image_tag customerService.logo.url(:large) %></td>
			      <td>
				      <h2><%= customerService.name %></h2>
				    </td>
			      <td>
			      	<%= tel_to(customerService.phone, name = nil, html_options = { :class=>"icon-phone"}) %>
			      </td>
			      <td>
			      	<%= link_to "http://www.#{customerService.site} ", :target=>"_blank", :class=>"button button-yellow-btn" do %>
								Visit Site
			      	<%end%>
			      	<i class="icon-right-open-mini button-icon"></i>
			      </td>
						<% if user_signed_in? %>
							<td>
								<%= link_to "Edit", edit_customer_service_path(customerService) %>
								<%= link_to "Delete", customer_service_path(customerService), method: :delete, data: { confirm: "Are you sure?" } %>
							</td>
						<% end %>
			    </tr>
				<% end %>
		  </tbody>
		</table>
	</section>
</article>
