<div class="form">
	<%= form_for @post, html: { multipart: true } do |f| %>
		<% if @post.errors.any? %>
			<h2> <%= pluralize(@post.errors.count, "error") %> Prevented this post from saving: </h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		<% end %>
		<%= f.label :image %>
		<%= f.file_field :image %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :content, "Write your article here." %>
		<%= f.text_area :content %>
		<%= f.submit 'Save Post', class:'button' %>
	<% end %>
</div>