
<article class="content_well">
	<% @posts.each do |post| %>
	<div class="blog-post">	
		<div class="image-wrapper">	
			<%= link_to post do %>
			<%= image_tag post.image.url(:medium) %>
			<%end%>
		</div>
    <div class="post-preview">
      <span><%= post.created_at.strftime('%A, %B %d') %></span>
      <h2><%= link_to post do %><%= post.title %><%end%></h2>
      <p><%= truncate(post.content, :length => 115) %></p>
      <%= link_to "Read Post", post, class:"button button-hero" %>
      <i class="icon-right-open-mini button-icon"></i>
    </div>
	</div>
	<% end %>
	<div id="main_blog_pagination">	
		<%= will_paginate @posts, :page_links => false, :previous_label => 'Previous', :next_label => 'Next'  %>
	</div>
</article>