<%= render "hero2" %>
<article class="content_well type-system-serif">
	<section class="main">
		<%=render 'post' %>
		<%=render 'social' %>
		<div id="admin_links">
			<% if user_signed_in? %>
				<%= link_to "Edit", edit_post_path(@post) %>
				<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
			<% end %>
		</div>
	</section>
	<%=render 'sidebar' %>
</article>
<%= render 'pagination_links' %>
<%= render 'cta' %>
<%= render 'contact_footer' %>