<%= render "hero_about" %>
<article class="content_well">
	<section>
		<div class="skinny_wrapper--article post-view mb25">	
			<h1 class="headerline">
				Being able to safely protect your home or auto should be a priority in protecting your investment.
			</h1>
			<p>
				Balboa Pacific Insurance Services is headquartered in Irvine, California and serves customers in California, Arizona, Colorado, and Florida. When it comes to some of the biggest investments such as your home, car, boat, jewelry, health, and most of all your life; we know that trust matters. Here at Balboa Pacific we have partnered up with some of the biggest insurance carriers. This gives us access to find the best products and price to meet your insurance needs.
			</p>
			<p>
				Balboa Pacific offers the highest quality insurance products in the market (Liberty Mutual, Anthem, Foremost, Travelers, Safeco, MetLife etc.) at the lowest price points both internally to our employees and also externally to our customers, partners, friends and family.
			</p>
		</div>
		<div class="founder">
			<div class="founder-image">
			<%= image_tag("mario.jpg", :alt => "Mario Founder") %></div>
			<div class="founder-description">
				<h2>Mario De Tomasi</h2>
				<h3>Some Fun Quote about something fun and awesome.</h3>
				<p> Mario oversees the financial strategy, operational execution including risk management, and regulatory compliance and reporting for the company.</p>
				<p>While not working, you can usually find him somewhere warm (Southern California) boating, golfing, and spending time with friends and family. Mario is also known for eating healthy and his commitment to staying fit.</p>
				<div class="social">
				<a class="icon-twitter-circled"></a>
				<a class="icon-facebook-circled"></a>
				<a class="icon-gplus-circled"></a>
				</div>
			</div>
		</div>
		<div class="founder">
					<div class="founder-image">
			<%= image_tag("joe.jpg", :alt => "Joe Founder") %></div>
			<div class="founder-description">
				<h2>Joe Stanovitch</h2>
				<h3>Some Fun Quote about something fun and awesome.</h3>
				<p>Mario is the CEO and co-owner of Commerce Home Mortgage. He also oversees the financial strategy, operational execution including risk management, and regulatory compliance and reporting for the company. 
				</p>
				<p>
				Previously, Mario founded Capital Lending Partners, a wholesale mortgage lending platform, held the position of Executive Vice President Sales & Marketing at Clear Channel Communications, Senior Vice President of Business Development at Eller Media Company, Vice President and General Sales Manager at General Electric Capital (GECC). </p>
				<div class="social">
				<a class="icon-twitter-circled"></a>
				<a class="icon-facebook-circled"></a>
				<a class="icon-gplus-circled"></a>
				</div>
			</div>
		</div>
	</section>
<%= render 'sidebar' %>
</article>
<%= render 'map' %>
<%= render 'contact_footer' %>
<%= render 'cta' %>