<footer class="footer-2" role="contentinfo">
  <div class="footer-wrapper">
    <div class="footer-logo">
      <%= image_tag "logo_m.png", :alt => "Logo" %>
    </div>
    <ul>
        <li><%= link_to "About", about_index_path %></li>
        <li><%= link_to "Contact", new_contact_path %></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li>              
          <%= link_to "http://www.commercehomemortgage.com", :target=>"_blank" do %>
            Commerce Home Mortgage
          <%end%>
        </li>
        <li>              
          <%= link_to "http://www.commercehomemortgage.com", :target=>"_blank" do %>
            CHM Wholesale
          <%end%>
        </li>
      </ul>
    </div>
  </div>
</footer>
