<header class="navigation" role="banner">
  <div class="navigation-wrapper">
   <a href="/" class="logo">
      <%= image_tag "color_logo.svg" %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <%= link_to "Who We Are", new_contact_path, :class => current_class?(new_contact_path) %>
        </li>
        <li class="nav-link phone-nav"><a>(888) 722-6411</a></li>
        <li id="js-navigation-more" class="nav-link more"><a href="javascript:void(0)">What We Cover</a>
          <ul class="submenu">
            <% @insurance_header.each_with_index do |insurance, index| %>
              <li class="small-nav">
                <%= link_to insurance do %>
                  <%= insurance.title %>
                <% end %>            
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-link">
          <%= link_to "Get a Quote", quotes_path, :class => current_class?(quotes_path) %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-link">
            <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
