<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag "color_logo.svg" %>
    </a>
    <button class="hamburger js-menu-trigger sliding-panel-button hamburger--collapse" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>

<nav class="js-menu sliding-panel-content">
  <ul>
    <% @insurance_header.each_with_index do |insurance, index| %>
      <li>
        <%= link_to insurance do %>
          <%= insurance.title %>
        <% end %>            
      </li>
    <% end %>
    <li>
      <%= link_to "The Company", new_contact_path, :class => current_class?(new_contact_path) %>
    </li>
    <li>
      <%= link_to "Get a Quote", quotes_path, :class => current_class?(quotes_path) %>
    </li>

    <% if user_signed_in? %>
      <li>
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
      </li>
  </ul>
    <% end %>
</nav>

<div class="js-menu-screen sliding-panel-fade-screen"></div>